.Intro {
  display: flex;

  height: 70vh;
  margin-top: 10rem;
}

/* left side styling */
.i-left {
  display: flex;
  position: relative;
  flex: 1;
  flex-direction: column;
  gap: 2rem;
}

.i-name {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.i-name> :nth-child(1) {
  color: var(--black);
  font-weight: bold;
  font-size: 3rem;
}

.i-name> :nth-child(2) {
  color: var(--crimson);
  font-weight: bold;
  font-size: 3rem;
}

.i-name> :nth-child(3) {
  font-weight: 100;
  font-size: 20px;
  color: var(--gray);
  margin-top: 10px;
}

.i-button {
  width: 6rem;
  height: 2rem;
}

.i-button:hover {
  background-color: white;

}

.i-icons {
  margin-top: -8rem;
  display: flex;

  margin-left: -3rem;
  gap: 0rem;
}

.i-icons>* {
  transform: scale(0.8);

}

.i-icons>*:hover {
  cursor: pointer;

}

/* right side styling */
.i-right {
  flex: 1;
  position: relative;
}

.i-right>* {
  position: absolute;
  z-index: 1;
}

.i-right> :nth-child(1) {
  transform: scale(0.69);
  left: -15%;
  top: -9%;
}

.i-box {
  display: flex;
  flex-direction: row;
}



@media only screen and (max-width: 1500px) {
  .i-icons {
    display: flex;
    flex-direction: column;
    transform: scale3d(2);
  }

  .i-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media only screen and (max-width: 650px) {
  body {
    background-color: rgba(165, 29, 29, 0.14);
    
  }

  .Intro {
    display: flex;

    flex-direction: column;
    gap: 7rem;
    height: 64rem;
  }

  .i-box {
    display: flex;
    flex-direction: column;
    margin-left: -20%;
    gap:2rem;
  }

  .i-icons {
    display: flex;
    flex-direction: row;
    justify-items: center;
    margin-left: -5%;

  }

  .i-right {
    transform: scale(0.8);
    left: -3rem;
  }

}